body{
    background-image: url(https://img.freepik.com/free-photo/flat-lay-of-workstation-with-copy-space-and-laptop_23-2148430879.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
div.menu{
    padding: 20px;
    margin-top: 150px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 500px;
    height: 33  0px;
    color: rgb(255, 255, 255);
    /* text-align: left; */
    padding-left: 10px;
}
h1{
    margin-top: 50px;
    text-align: center;
}
.info{
    background: none;
    border: none;
    position: relative;
    display: block;
    border-bottom: 2px solid #adadad;
    padding: 7px;
    margin: 15px;
    width: 200px;
}
.agree{
    text-align: left;
    margin: 15px;
    display: inline;    
}

a{
    color: white;
}

input.login{
    height: 50px;
    width: 300px;
    border: none;
    margin: 20px;
    background-color: #129700;
    border-right: solid white 1px;
    border-bottom: solid white 1px;
}

img{
    border-radius: 100%;
    width: 100px;
    position: absolute;
    text-align: center;
    top: 130px;
    left: 715px;
}